<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <!-- <ul class="navbar-nav ml-auto  align-items-center" style="color: red;">

        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                About
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/register">
                Sign Up
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.SignOut()">
                Sign Out
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/my-profile"><i class="fa fa-user"></i>
            </a>
        </li>
    </ul> -->
    

</div>