<!-- <div id="main-wrapper">

    <app-banner></app-banner>
</div>

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="blog-home2">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
</div>

<div>
    <app-footer></app-footer>
</div> -->

<app-banner></app-banner>
<div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
