

<!-- <div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">BLOG DETAIL PAGE</h1>
        <h5 class="subtitle op-5">
          We are Small Team of Creative People working together
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="http://localhost:4000/uploads/{{currentPost?.name}}" alt="wrapkit" class="img-fluid">
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        >
          <a>Authored By Jelena Žarković</a>
          <div class="ml-auto">
            Last time Updated: {{ currentPost?.updatedAt | date:"MMM d, y h:mm:ss a" }}
          </div>
        </div>
        <h2 class="title font-light">
          {{ currentPost?.title }}
        </h2>
        <p class="m-t-30 m-b-30">
          {{ currentPost?.content }}
        </p>
    
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8">
          <!-- Post content-->
          <article>
              <!-- Post header-->
              <header class="mb-4">
                  <!-- Post title-->
                  <h1 class="fw-bolder mb-1">{{ currentPost?.title }}</h1>
                  <!-- Post meta content-->
                  <div class="text-muted fst-italic mb-2">Posted on {{ currentPost?.createdAt | date:"MMM d, y h:mm:ss a" }}</div>
                  <!-- Post categories-->
                  <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                  <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
              </header>
              <!-- Preview image figure-->
              <figure class="mb-4"><img class="img-fluid rounded" src="http://localhost:4000/uploads/{{currentPost?.name}}" alt="..." /></figure>
              <!-- Post content-->
              <section class="mb-5">
                  <p class="fs-5 mb-4">{{ currentPost?.content }}</p>
              </section>
              <div class="text-muted fst-italic mb-2">Last time updated on {{ currentPost?.updatedAt | date:"MMM d, y h:mm:ss a" }}</div>
          </article>
          <!-- Comments section-->
          <section class="mb-5">
              <div class="card bg-light">
                  <div class="card-body">
                      <!-- Comment form-->
                      <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                      <!-- Comment with nested comments-->
                      <!-- Single comment-->
                      <div class="d-flex">
                          <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                          <div class="ms-3">
                              <div class="fw-bold">{{currentUser.firstname}} {{currentUser.lastname}}</div>
                              When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>
