<div class="banner-innerpage">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate id="signup-form" class="signup-form">
          <span class="login100-form-title p-b-49">
            Sign Up
          </span>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
            <span class="label-input100">Username</span>
            <input type="text" class="input100" name="username" [(ngModel)]="form.username" required minlength="3"
              maxlength="20" #username="ngModel" placeholder="Type your username">
            <span class="focus-input100"></span>
          </div>
          <br>
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">E-mail</span>
            <input type="email" class="input100" name="email" [(ngModel)]="form.email" required email
            #email="ngModel" placeholder="Type your e-mail" />
            <span class="focus-input100"></span>
          </div>
          <br>
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
          <!-- <div class="wrap-input100 validate-input" data-validate="Firstname is required">
            <span class="label-input100">Firstname</span>
            <input type="firstname" class="input100" name="firstname" [(ngModel)]="form.firstname" required firstname
            #firstname="ngModel" placeholder="Type your firstname" />
            <span class="focus-input100"></span>
          </div>
          <br>
          <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
            <div *ngIf="firstname.errors.required">Firstname is required</div>
            <div *ngIf="firstname.errors.firstname">
              Firstname must be a valid email address
            </div>
          </div>
          <br>
          <div class="wrap-input100 validate-input" data-validate="Lastname is required">
            <span class="label-input100">Lastname</span>
            <input type="lastname" class="input100" name="lastname" [(ngModel)]="form.lastname" required lastname
            #lastname="ngModel" placeholder="Type your lastname" />
            <span class="focus-input100"></span>
          </div>
          <br>
          <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
            <div *ngIf="lastname.errors.required">Lastname is required</div>
            <div *ngIf="lastname.errors.lastname">
              Lastname must be a valid email address
            </div>
          </div>
          <br> -->
          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input type="password" class="input100" name="password" [(ngModel)]="form.password" required
            minlength="6" #password="ngModel" placeholder="Type your password" />
            <span class="focus-input100"></span>
          </div>
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
          <br>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Sign Up
              </button>
            </div>
          </div>
          <br>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
          <br>
          <p class="loginhere">
            Have already an account ? <a routerLink="/login" class="loginhere-link">Login here</a>
          </p>

          <div class="txt1 text-center p-t-54 p-b-20">
            <span>
              Or Sign Up Using
            </span>
          </div>

          <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
              <i class="fa fa-facebook"></i>
            </a>

            <a href="#" class="login100-social-item bg2">
              <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="login100-social-item bg3">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful" style="height: auto;">
          Your registration is successful!
          <div><a routerLink = '/login'>Login Here</a> </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate
          id="signup-form" class="signup-form">
          <h2 class="form-title">Create account</h2>
          <div class="form-group">
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
              maxlength="20" #username="ngModel" placeholder="Username">
          </div>
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
              #email="ngModel" placeholder="Email" />
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
              minlength="6" #password="ngModel" placeholder="Password" />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="form-submit">Sign Up</button>
          </div>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
          <p class="loginhere">
            Have already an account ? <a routerLink="/login" class="loginhere-link">Login here</a>
          </p>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful" style="height: auto;">
          Your registration is successful!

        </div>
      </div>
    </div>
  </section> -->
</div>